@keyframes enter-page {
  from {
    opacity: 0;
    transform: translate(0, 15rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


@keyframes enter-left {
  from {
    left: -10rem;
    opacity: 0;
  }

  100% {
    left: 1.5rem;
    opacity: 1;
  }
}


@keyframes enter-bottom {
  from {
    bottom: -10rem;
    opacity: 0;
  }

  100% {
    bottom: 1.5rem;
    opacity: 1;
  }
}


@keyframes enter-right {
  from {
    opacity: 0;
    right: -10rem;
  }

  100% {
    opacity: 1;
    right: 1.5rem;
  }
}


@keyframes enter-notify-right {
  from, 100% {
    opacity: 0;
    transform: translateX(10rem);
  }

  20%, 80% {
    opacity: 1;
    transform: translateX(0);
  }
}
