#search-form {
  animation: enter-page 1s ease-in-out;
  margin: 0 auto;
  max-width: 50rem;
  position: relative;
  width: 80%;

  &:before {
    $search-icon-size: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%239CA3AF'%3E%3Cpath fill-rule='evenodd' d='M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z' clip-rule='evenodd' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: $search-icon-size $search-icon-size;
    content: '';
    height: $search-icon-size;
    left: 1rem;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $search-icon-size;
    z-index: 100;
  }

  #search-input {
    backdrop-filter: var(--blur-normal);
    background-color: var(--highlight-alpha);
    border-radius: 1rem;
    box-sizing: border-box;
    color: var(--font-primary);
    font-size: 1rem;
    height: 3.5rem;
    margin: 0;
    padding: 1rem 1rem 1rem 3.25rem;
    transition: box-shadow .3s ease-in-out;
    width: 100%;

    &:hover, &:focus { box-shadow: var(--box-shadow); }

    &:focus { outline: none; }
  }
}

