:root {
  --font-size-global: 24px;
  --font-family-global: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --margin-text: -28px;
  --link-prefix: "-> ";
}

body {
  background: #000;
  font-family: var(--font-family-global);
  margin: .5em 1em;
  font-weight: normal;
}

a:hover { text-decoration: underline; }
a {
  display: inline-block;
}

.fullscreen, .fullscreen .center-object {
  background: transparent;
  display: block;
  height: auto;
  position: relative;
}

.center-object {
  animation: none;
  left: inherit;
  position: relative;
  top: inherit;
  align-items: inherit;
  justify-content: inherit;
  transform: none;
}

.fullscreen .me {
  width: auto;
  justify-content: none;
}

.me {
  display: block;
  padding: 0;
}

/* General information */
#js-time { color: #2ecc71; }
#js-date { color: #3498db; }

#js-time::before { content: "[TIME] "; }
#js-date::before { content: "[DATE] "; letter-spacing: 1.25px; }
#js-time::before, #js-date::before {
  color: #fff;
}

.time {
  font-size: var(--font-size-global);
  transition: none;
}

/* Weather information */
.weather-container img { display: none; }
#wtime-container { margin-top: 0; }
.weather-container {
  animation: none;
  position: relative;
  left: inherit;
  top: inherit;
  margin-top: var(--font-size-global);
}

.wtext-container {
  position: relative;
  left: 0;
  display: flex;
  width: auto;
  flex-direction: column;
}

.wtext-container .optional_break {
  display: flex;
  flex-direction: row;
}

.wtext-container * {
  font-size: var(--font-size-global);
  margin: 0;
  margin-right: .5em;
}

.wtext-container { margin-top: 1em; }

.wtext-container #wname { color: #2ecc71; }

.wtext-container #wname::before { color: #fff; content: "[WEATHER] "; }
.wtext-container #wdescription::after { content: " |"; }
.wtext-container #wdescription::before { color: #fff; content: "- NOW - "; }

#wdescription, #wtemp,
.wtext-container #wdescription::after { color: #29b866; }

#settings {
  bottom: inherit;
  font-family: var(--font-family-global);
  font-size: var(--font-size-global);
  height: auto;
  position: relative;
  transform: none;
  bottom: 0;
  right: 0;
}

/* Kill responsive */
@media (max-width: 750px) {
  .button { flex-flow: nowrap; }
  .buttons .btn { display: block; text-align: left; padding: 0; height: 38px; line-height: normal; }
}
