/* Settings */
:root {
  --font-colour-primary: #fff;
  --font-colour-secondary: #ddd;
  --highlight: #181818;
  --primary: #282828;
  --secondary: #303030;
}

/* Import font */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato.ttf") format("truetype");
}

/* Animation */
@keyframes enter-page {
  from { transform: translate(0, 50%); opacity: 0; }
  100% { transform: translate(0, 0); opacity: 1; }
}

@keyframes enter-weather {
  from { left: -100px; opacity: 0; }
  100% { left: 1.5em; opacity: 1; }
}

@keyframes enter-bookmarks {
  from { bottom: -100px; opacity: 0; }
  100% { bottom: 1.5em; opacity: 1; }
}

/* Global */
* {
	-moz-user-select: none;
	-webkit-user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
	user-select: none;
}

body {
  font-family: "Lato", sans-serif, Arial;
	overflow: hidden;
}

.center-object { animation: enter-page 1s ease-in-out; }

/* Background */
.dark-theme .fullscreen { background: transparent; }
.fullscreen .center-object { position: fixed; }
#js-bg {
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 500ms ease-out;
  opacity: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Bookmarks */
#bookmarks {
  animation: enter-bookmarks 1s ease-in-out forwards;
  opacity: 0;
  bottom: 1.5em;
  position: absolute;
  text-align: center;
  width: 100%;
}

#bookmarks .bookmark-row {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: .5em 1em;
}

#bookmarks .bookmark-row a {
  align-items: center;
  background-color: rgba(24, 24, 24, .5);
  border-radius: 10px;
  color: var(--font-colour-primary);
  display: flex;
  flex-direction: column;
  font-size: 2em;
  justify-content: center;
  overflow: hidden;
  padding: .4em .8em;
  position: relative;
  text-decoration: none;
  backdrop-filter: blur(3px);
  transition: filter 300ms ease,
              color 300ms ease;
  width: auto;
  max-width: 3em;
}

#bookmarks .bookmark-row .bookmark-icon {
  width: 32px;
  height: 32px;
  margin-bottom: .25em;
  position: relative;
  z-index: 999;
}

#bookmarks .bookmark-row a[data-auto="true"]::before {
  content: "✨";
  position: absolute;
  top: .1em;
  right: .1em;
  font-size: 2vmin;
}

#bookmarks .bookmark-row span {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

#bookmarks .bookmark-row a:hover {
  color: var(--font-colour-secondary);
  filter: brightness(.75);
}

/* Clock */
#js-time, #js-date {
  font-variant-numeric: tabular-nums;
}

#js-time {
  letter-spacing: .1em;
}

.time {
  font-size: 10vmin;
  margin: 0;
  transition: all .5s ease;
}

/* Install button */
#install-button, #install-button:hover {
  transition: all 300ms ease;
}

a#install-button { color: #fff; }

#install-button {
  background-color: #2ecc71;
  border-radius: 10px 0 0;
  bottom: 0;
  cursor: pointer;
  font-family: "Lato", sans-serif, Arial;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  position: absolute;
  right: 0;
}

#install-button:hover {
  background-color: #16a085;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
}

/* Weather placeholder */
.weather-container {
  animation: enter-weather 1s ease-in-out;
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}

.wtext-container {
  left: 90px;
  position: absolute;
  top: 0;
  width: 400px;
}

.wtext-container * {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

#wicon {
  height: 72px;
  width: 72px;
}

#wtime-container { margin-top: 1.5em; }

#settings {
  position: absolute;
  margin: 0;
  right: 1em;
  bottom: 2.5em;
  margin-top: 10px;
  height: 30px;
  text-decoration: none;
  color: var(--font-colour-primary);
}

#settings .settings-icon {
  fill: var(--font-colour-primary);
  height: 4em;
  width: 4em;
  transition: transform 300ms ease, fill 300ms ease;
}

#settings .settings-icon:hover {
  fill: #ddd;
  transform: rotate(45deg);
}

/* Demo CSS */
.demoButtons {
  background: rgba(0, 0, 0, .5);
  left: 0;
  padding: 1em;
  position: absolute;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 1em;
}

.demoButtons a {
  color: #1eaedb;
  text-decoration: underline;
}
.demoButtons ul { margin: 0; padding-left: 30px; cursor: pointer; }
.demoButtons select {
  align-items: center;
  background-color: #fff;
  border-color: initial;
  border-image: initial;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #000;
  cursor: default;
  height: auto;
  padding: 2px;
  white-space: pre;
}
