textarea, input:not([type="checkbox"]) {
  border: 0;
  color: #fff;
  padding: 1em;
  width: 30em;
}

textarea { height: 7em; }
p { margin: 15px 4em; margin-top: 0; }
a { color: #1eaedb; }
.save-button {
  position: fixed;
  bottom: .25em;
  left: .25em;
  font-size: 18px;
  color: #000 !important;
  background-color: #2ecc71 !important;
  border-color: #1d8046 !important;
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 500ms ease-in-out;
}

.modal h1 { font-size: 4em; }

.modal--close {
  background: transparent;
  color: transparent;
  transition: all 500ms ease-in-out;
  display: none;
}

.save-button:active {
  position: fixed;
  bottom: .15em;
  top: inherit;
}

.preview-container {
  position: relative;
  display: inline-block;
}

.preview-container:hover .preview-image {
  cursor: pointer;
  opacity: .4;
}

.preview-container:hover::before {
  align-items: center;
  color: #fff;
  content: "Remove?";
  display: flex;
  font-family: monospace;
  font-size: 32px;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

#custombg_uploader {
  background: transparent;
}

#custombg_previews .preview-image {
  width: 250px; height: 140px;
  margin: .25em .5em;
}

.bookmark-name, .bookmark-url,
#bookmark_name, #bookmark_url {
  margin-bottom: 0 !important;
  padding: .25em 0 !important;
}

.bookmark-name, #bookmark_name {
  width: 10em !important;
}

.bookmark-url, #bookmark_url {
  width: 20em !important;
}

.bookmark-new {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
