.btn
  backface-visibility: hidden
  background-color: transparent
  border: 0
  box-sizing: border-box
  cursor: pointer
  display: inline-block
  font-size: 1rem
  height: 2.375rem
  line-height: 2.375rem
  margin: .5rem
  padding: 0 1.5rem
  text-align: center
  text-decoration: none
  transition: filter .2s ease
  white-space: nowrap
  color: var(--font-primary)
  background-color: var(--secondary)

  &:hover
    filter: brightness(65%)

