.btn
  backface-visibility: hidden
  background-color: transparent
  border: 0
  box-sizing: border-box
  cursor: pointer
  display: inline-block
  font-size: 16px
  height: 38px
  line-height: 38px
  margin: .5em
  padding: 0 30px
  text-align: center
  text-decoration: none
  transition: filter 200ms ease
  white-space: nowrap
  color: #fff
  background-color: #7289da

  &:hover
    filter: brightness(65%)

